<div id="<%= dom_id tag %>">
  <div class="bg-blue-100 inline-flex items-center text-sm rounded overflow-hidden">
    <span class=""><%= tag.name %></span>
    <%= button_to class: "w-6 h-6 block align-middle text-gray-500 bg-blue-200 focus:outline-none" do %>
      <svg class="w-6 h-6 fill-current mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/></svg>
    <% end %>
  </div>
</div>
