<h3 class="my-2 md:my-4 lg:my-8 font-bold text-4xl">タグ一覧</h3>
<div class="bg-white border-x border-t">
  <table class="table-auto w-full">
    <thead class="border-b">
      <tr class="bg-gray-100">
        <th class="p-4 font-medium text-center">
          ランク
        </th>
        <th class="text-left p-4 font-medium">
          タグ名
        </th>
        <th class="p-4 font-medium text-center">
          投稿数
        </th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each_with_index do |tag, index| %>
        <tr class="border-b hover:bg-gray-50">
          <td class="p-4 text-center">
            <%= index+1 %>
          </td>
          <td class="p-4">
            <%= tag.name %>
          </td>
          <td class="p-4 text-center">
            <%= tag.post_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
