<%= form_with(model: user, url: users_icon_update_path, class: "flex flex-col gap-4 mt-4") do |form| %>
  <div>
    <%= form.file_field :icon %>
  </div>

  <div>
    <%= form.submit 'アップロード', class: "btn btn-block", data: { turbo: false } %>
  </div>
<% end %>
