<%= form_with(model: user, url: users_icon_update_path) do |form| %>
  <div>
    <%= form.file_field :icon %>
  </div>

  <div>
    <%= form.submit 'アップロード', class: "btn w-full", data: { turbo: false } %>
  </div>
<% end %>
