<%= turbo_frame_tag "modal" do %>
  <input type="checkbox" class="modal-toggle hidden" checked />
  <div class="modal" data-controller="turbo-modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg">アイコンアップロード</h3>
      <%= render 'form', user: @user %>
      <div class="modal-action">
        <%= button_tag "キャンセル", type: "button", data: { action: "turbo-modal#hideModal" }, class: "btn" %>
      </div>
    </div>
  </div>
<% end %>
