<%# postのフォームで使用するタグ %>
<div id="<%= dom_id tag %>">
  <input class="hidden" type="checkbox" checked value="101" name="post[tag_ids][]">
  <div class="pl-1 bg-blue-200 inline-flex items-center text-sm rounded-2xl overflow-hidden">
    <span class="ml-2 mr-1 leading-relaxed truncate max-w-xs px-1" x-text="tag"><%= tag.name %></span>
    <%= button_to remove_tag_posts_path(tag), method: :get, class: "w-6 h-8 align-middle text-gray-500 hover:bg-blue-300 focus:outline-none" do %>
      <svg class="w-6 h-6 fill-current mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"/></svg>
    <% end %>
  </div>
</div>
