<div id="<%= dom_id post %>" class="rounded-xl border border-gray-400 shadow-lg">
  <%= link_to post, data: { turbo: false } do %>
    <div class="px-2 py-1 rounded-t-xl bg-green-500 border-b">
      <p><%= post.title %></p>
    </div>

    <div class="h-40 flex items-center">
      <% if post.ogp_url.present? %>
        <%= image_tag post.ogp_url, class: "max-h-40 mx-auto" %>
      <% end %>
    </div>
  <% end %>
</div>
