<div class="w-full lg:w-3/4 mx-auto py-6">
  <h3 class="inline-block pl-2 pr-6 border-b-2 border-gray-400 text-2xl font-bold">投稿</h3>

  <%= render "form", post: @post %>

  <div class="text-center">
    <%= link_to "キャンセル", posts_path, class: "btn btn-link text-neutral mx-auto" %>
  </div>
</div>
