<header class="flex justify-between items-center px-4 md:px-8 py-3 md:py-6 bg-green-400 border-b-2 shadow-md">
  <!-- logo - start -->
  <a href="/" class="inline-flex items-center text-black-800 text-2xl md:text-3xl font-bold gap-2.5" aria-label="logo">
    <svg viewBox="98.79 -12.639 500 500" width="50" height="50">
      <ellipse style="stroke: rgb(0, 0, 0);" cx="368.8" cy="257.4" rx="85" ry="85" data-bx-origin="0.500059 0.5"></ellipse>
      <path style="fill: rgb(176, 254, 238); stroke: rgb(158, 237, 255);" transform="matrix(2.359277, 1.214639, -1.193943, 2.31908, -801.497498, -1337.315186)" d="M 600.504 319.999 A 57.507 57.507 0 1 1 600.504 349.767 A 40.685 40.685 0 1 0 600.504 319.999 Z" data-bx-shape="crescent 656.051 334.883 57.507 330 0.7 1@93fe3004"></path>
    </svg>

    Stacker
  </a>
  <!-- logo - end -->

  <!-- nav - start -->
  <nav class="hidden lg:flex items-center gap-12">
    <%= link_to "投稿一覧", posts_path, class: "header-nav-item" %>
    <a href="#" class="header-nav-item">タイムライン</a>
    <a href="#" class="header-nav-item">トレンド</a>
    <a href="#" class="header-nav-item">About</a>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "px-8 py-3 rounded-lg text-white bg-gray-500 hover:bg-gray-600 active:bg-gray-700 text-sm md:text-base font-semibold text-center transition duration-100" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class: "inline-block focus-visible:ring ring-indigo-300 text-gray-500 hover:text-indigo-500 active:text-indigo-600 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-4 py-3" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "inline-block bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
    <% end %>
  </nav>
  <!-- nav - end -->

  <button type="button" class="inline-flex items-center lg:hidden bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold rounded-lg gap-2 px-2.5 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
    </svg>

    Menu
  </button>
  <!-- buttons - end -->
</header>